<% layout('boilerplate') %>
<style>
    #main {
        background-image: url(https://images.unsplash.com/photo-1523961131990-5ea7c61b2107?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dGVjaHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
        background-repeat: no-repeat;
        background-position: center;
        height: 50%;
        background-size: cover;
    }

</style> 
<div class="container text-center d-flex justify-content-center align-items-center flex-column" id="main">
    <h1 style="color: white; font-weight: 600;" class="display-3">WATERCARE BOT</h1>
    <h6 style="color: white;">Protecting and Cleaning your Water Resouces for a pollution free future.</h4>
    <br>
    <a href="/livestream" class="btn btn-secondary">Go to LiveStream</a>
</div>
<div class="container mt-5">
    <p class="h5">Whenever a person hears about pollution, more often than not, the first thought that comes to 
        his/her mind is air pollution. One of the most under-mentioned and under-discussed pollution globally is that caused
         by the non-biodegradable waste in our water bodies.
        There are 5.25 trillion pieces of plastic debris in the ocean. Of that mass, 269,000 tons float on the surface 
        (Source: National Geographic). Those are just the ocean statistics, the picture gets even worse when other water bodies 
        are taken into account.
        </p>
    <p class="h5">The quantity of debris is increasing in water bodies world-wide.Food containers 
        and packaging are the largest component of the municipal solid waste stream 
        (80 million tons or 31.7 %). This debris (80%) comes from trash and debris in 
        urban runoff, i.e. land-based sources. These plastic wastes affect the marine ecosystem. 
        Hence it is necessary to clean the waste in the ocean and make the water pollution free. 
        However, effective cleaning mechanisms have not been deployed in India to take care of the 
        situation. Hence, we have decided to come up with an invention to collect the waste in the water 
        bodies and make the water free from pollution.</p>
</div>